body {
  font-family: "Roboto", sans-serif;
}
.top-nav:visited {
  text-decoration: none;
}
.top-nav {
  list-style: none;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.web {
  color: #2196f3;
}
.nav {
  font-weight: 500;
  font-size: 14px;
}
.top-contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
}

.nav:hover,
.nav:focus {
  color: #2196f3;
  cursor: pointer;
}
.nav:visited {
  color: black;
}

.top-contact:hover,
.top-contact:focus {
  color: #2196f3;
  cursor: pointer;
}
/*pierwsza strona main*/
.top {
  color: #ffffff;
  background: #2f303a;
}
.top-txt {
  font-weight: 900;
  font-size: 44px;
}
.top-button {
  font-weight: 700;
  font-size: 16px;
  background: #2196f3;
  color: #ffffff;
}
.top-button:hover,
.top-button:focus {
  cursor: pointer;
}
.mid-pic {
  list-style: none;
}
.mid-txt {
  font-size: 700;
  font-size: 14px;
}
.mid-long {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
}
.mid-pictures-txt {
  font-weight: 700;
  font-size: 36px;
}
.team-john {
  list-style: none;
}
.team {
  background: #f5f4fa;
}
.team-text {
  font-weight: 700;
  font-size: 36px;
}
.john-doe {
  font-weight: 500;
  font-size: 16px;
}
.job {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}
.bottom {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background: #2f303a;
  text-decoration: none;
}
.bottom-adr {
  font-style: normal;
}
.bottom-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.bottom-email {
  color: #ffffff(68%);
}
.bottom-phone {
  color: #ffffff(68%);
}
.bottom-info {
  list-style-type: none;
  text-decoration: none;
}
/*druga strona*/
.filters {
  font-weight: 500;
  font-size: 16px;
}
.filter-button {
  background-color: #f5f4fa;
}
.filter-button:hover,
.filer-button:focus {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}
.picture-text {
  font-weight: 700;
  font-size: 18px;
}
.smoll-txt {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
